


<form action="/Work/GetCarsByFilter" method="get">
    <div>
        <input type="date" name="start" value="תאריך התחלה" />
    </div>

    <div>
        <input type="date" name="end" value="תאריך סיום" />
    </div>
   
    <div>
        <input type="submit" value="chack" />
    </div>
</form>