
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>


<form action="/Work/GetCarsByFilter" method="get">
    <div>
        <input type="date" value="תאריך התחלה" />
    </div>

    <div>
        <input type="date" value="תאריך סיום" />
    </div>
    <div>
        <input type="submit" value="chack" />
    </div>
</form>

