<div class="jumbotron">
    <h1>Levi's השכרת רכב</h1>
    <p class="lead">ברוכים הבאים לאתר השכרת הרכב המוביל במדינה</p>
    
    <p><a href="/Work/TestAll" class="btn btn-primary btn-lg">מעבר לאפליקציית ההשכרה &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>שירות לקוחות</h2>
        <p>שירות הלקוחות שלנו זמין בכל עת, בכל דרך בה תבחרו:
        <br /> בטלפון: 1800-987-654-321 24 שעות ביממה.<br /> 
        בצ'אט און-ליין באתר האינטרנט וביישומון בטלפון החכם.</p>
    </div>
    <div class="col-md-4">
        <h2>מועדון הלקוחות 'מקל הנדודים'</h2>
        <p> מועדון 'מקל הנדודים' מקנה לחברים בו מגוון הטבות הניתנות למימוש בכל עת, כן! גם בעונות הקיץ ובחגי ישראל. כך תוכלו להנות גם מרכב מפנק גם מחווית השכרה ייחודית. </p>
    </div>
    <div class="col-md-4">
        <h2>מי אנחנו ?</h2>
        <p> Levi's  השכרת רכב הינה חברת השכרת הרכב המשפחתית הראשונה בישראל. החברה מתאפיינת במתן שירות אישי, תוך היכרות עם הלקוח והבנת צרכיו.</p>
    </div>
</div>
